@import "tailwindcss";

:root {
  --background: #132913;
  --foreground: #EFEEB6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-dark-green: #132913;
  --color-green: #4D793F;
  --color-cream: #EFEEB6;
  --color-tan: #E2C492;
  --color-brown: #A47444;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}
